:root {
  --point_color1: #85d4ff;
  --point_color2: #b6abfd;
  --point_color3: #e783fc;
  --text1: #232527;
  --text2: #636363;
  --text3: #999899;
  --text4: #d4d4d4;
  --bg_grey: #eeeeee;
  --bg_grey_trans: #eeeeee80;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 2rem;
}
/* 공통 */
.sticky {
  position: sticky;
}
.icon-btn {
  width: 24px;
  height: 24px;
  border-radius: 5px;
}
.icon-btn:hover {
  background-color: var(--bg_grey);
}
/* 메인 */
main {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}
main::before,
main::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    var(--point_color1) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  z-index: -1;
  opacity: 0;
  animation: fadeColor 6s infinite;
}

main::after {
  background: radial-gradient(
    circle,
    var(--point_color3) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  animation-delay: 3s;
  animation: fadeColor2 6s infinite;
}

@keyframes fadeColor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeColor2 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.desktop_h1 {
  font-size: 4rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    var(--point_color1),
    var(--point_color3)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.mobile_h1 {
  display: none;
}
h2 {
  margin: 32px 0;
  font-size: 2.8rem;
  color: var(--text1);
}
main p {
  font-size: 1.125rem;
  color: var(--text3);
  line-height: 1.5;
}
/* 네비 */
nav {
  background-color: var(--bg_grey_trans);
  backdrop-filter: blur(3px);
  padding: 0 8px 0 24px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
  top: 16px;
  z-index: 999;
}
nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 8px;
  align-items: center;
}
nav ul li {
  cursor: pointer;
  color: var(--text2);
}
nav ul li:first-child {
  display: flex;
  column-gap: 8px;
}
nav ul li:first-child span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--point_color1);
}
nav ul li:first-child span:nth-child(2) {
  background-color: var(--point_color2);
}
nav ul li:first-child span:nth-child(3) {
  background-color: var(--point_color3);
}

nav ul li:not(:first-child) {
  padding: 8px 16px;
}
/* section */
section {
  margin-top: 240px;
  width: 100%;
  max-width: 964px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  font-size: 1rem;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    var(--point_color1),
    var(--point_color3)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 8px;
}
h4 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--text1);
}
.profile-title {
  width: 100%;
  margin-top: 40px;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text3);
  text-align: center;
  position: relative;
  margin-bottom: 32px;
}
.profile-title span {
  background-color: #fff;
  padding: 0 16px;
}
.profile-title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: var(--text3);
  z-index: -1;
}
/* 프로필 */
.profile-cont {
  width: 100%;
}
.profile-cont li {
  display: flex;
  column-gap: 24px;
  margin-bottom: 24px;
}
.profile-cont li:last-child {
  margin-bottom: 0;
}
.profile-cont .date {
  width: 170px;
  flex-shrink: 0;
}
.profile-cont .date span:first-child {
  font-size: 1rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    var(--point_color1),
    var(--point_color3)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  line-height: 20px;
  width: 20px;
  text-align: center;
}
.profile-cont .date span:last-child {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text3);
}
.profile-cont .cont p:first-child {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--text1);
  margin-bottom: 8px;
}
.profile-cont .cont p:last-child {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text3);
}
/* 핵심역량 */
.skills-cont {
  display: flex;
  column-gap: 32px;
  margin-top: 40px;
}
.skills-cont > li > div {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  background-color: var(--bg_grey);
  margin-bottom: 16px;
  overflow: hidden;
}
.skills-cont > li > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.skills-cont > li > h5 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text1);
  margin-bottom: 8px;
}
.skills-cont > li > p {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text3);
}
/* 기술스택 */
.tools-cont {
  margin-top: 40px;
  width: 19rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.tools-cont li {
  width: 3rem;
  height: 3rem;
  position: relative;
}
.tools-cont li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #00000021;
}
.tools-cont li span {
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  border-radius: 4px;
  padding: 5px 8px;
  background-color: var(--text1);
  color: #fff;
  z-index: 1;
  font-size: 0.875rem;
  display: none;
}
.tools-cont li:hover span {
  display: block;
}
/* 프로젝트 */
.project-tile-wrap {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
}
.project-tile {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 10px;
  padding: 24px;
  border: 1px solid var(--bg_grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.project-tile-top img {
  height: 1.5rem;
  margin-bottom: 16px;
}
.project-tile-top p {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text1);
}
.project-tile-top span {
  display: inline-block;
  margin-top: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text3);
}
.project-tile .tools-cont {
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}
.project-tile .tools-cont li {
  width: 1.5rem;
  height: 1.5rem;
}
.project-tile:hover {
  background-color: #029342;
}
.project-tile:nth-child(2):hover {
  background-color: #07458b;
}
.project-tile:nth-child(3):hover {
  background-color: #24378d;
}
.project-tile:nth-child(4):hover {
  background-color: #2e1d1d;
}
.project-tile:nth-child(5):hover {
  background-color: #054a97;
}
.project-tile:nth-child(6):hover {
  background-color: #243975;
}
.project-tile:nth-child(7):hover {
  background-color: #58391e;
}
.project-tile:nth-child(8):hover {
  background-color: #006abd;
}
.project-tile:nth-child(9):hover {
  background-color: #006934;
}
.project-tile:nth-child(10):hover {
  background-color: #eb5e26;
}
.project-tile:hover .project-tile-top img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.project-tile:hover .project-tile-top p {
  color: #fff;
}
.project-tile:hover .project-tile-top span {
  color: var(--text4);
}
/* 프로젝트 상세 모달창 */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background: #fff;
  padding: 32px;
  border-radius: 10px;
  max-width: 689px;
  width: 90%;
  max-height: calc(100vh - 96px);
  position: relative;
  overflow-y: auto;
}
.modal .close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
}
.modal > img {
  width: 100%;
  border-radius: 10px;
}
.modal-tit {
  margin-bottom: 40px;
}
.modal-tit > img {
  height: 1.5rem;
  margin-bottom: 24px;
}
.modal-tit > h5 {
  font-size: 1.5rem;
  color: var(--text1);
  font-weight: 700;
}
.modal-cont > li:not(:last-child) {
  margin-bottom: 16px;
}
.modal-cont .tit {
  display: inline-block;
  font-size: 0.875rem;
  color: var(--text2);
  margin-bottom: 4px;
}
.modal-cont p {
  font-size: 0.875rem;
  color: var(--text1);
}
.modal-cont .tools-cont {
  margin-top: 0;
}
.modal-cont .tools-cont {
  column-gap: 8px;
}
.modal-cont .tools-cont li {
  width: 30px;
  height: 30px;
}
.modal .line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--bg_grey);
  margin: 32px 0;
}
/* 반응형 */
@media (max-width: 1280px) {
  .project-tile-wrap {
    width: 39.5rem;
  }
}
@media (max-width: 768px) {
  .profile-cont li {
    flex-direction: column;
    row-gap: 16px;
  }
  .profile-cont li .cont {
    margin-left: 20px;
  }
  .skills-cont {
    flex-direction: column;
    row-gap: 32px;
    max-width: 450px;
  }
  .desktop_h1 {
    display: none;
  }
  .mobile_h1 {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    font-size: 4rem;
    background-image: linear-gradient(
      to right,
      var(--point_color1),
      var(--point_color3)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .mobile_h1 span {
    font-weight: 700;
    border-radius: 50%;
    color: var(--point_color1);
  }
  .mobile_h1 span:nth-child(2) {
    color: var(--point_color2);
  }
  .mobile_h1 span:nth-child(3) {
    color: var(--point_color3);
  }
  .project-tile-wrap {
    width: 100%;
  }
  .project-tile {
    width: 100%;
    height: auto;
  }
}
